body, * {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0.1rem;
}

h1 {
    text-align: center;
}
.menu {
    background: #666;
    list-style: none;
    margin: 0;
    position: relative;
    border-radius: 12px;
}

.menu-item {
    float: left;
}

.menu-item a {
    color: #eee;
    display: block;
    text-decoration: none;
    padding: 1em;
}

.menu-item a:hover {
    color: #333;
    background-color: #fff;
    border-radius: 12px;
    padding: 1em;
}
.menu-item-info a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 1em;
}

.menu-item-info a:hover {
    color: #333;
    background-color: #9d9898;
    border-radius: 12px;
    padding: 1em;
}

.menu-item-info {
    display: none;
    position: absolute;
    left: 0;
    border: 1px solid #ddd;
    border-top: none;
    width: 100%;
    background-color: #9d9898;
    border-radius: 12px;
    padding: 0.3em;
    color: #fff;
}

.account {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid #ddd;
    border-top: none;
    width: 20%;
    background-color:#9d9898 ;
    border-radius: 12px;
    padding: 0.3em;
}

.menu-item > input[type=text] {
    float: left;
    font-size: 20px;
    border-radius: 10px;
    top: 22%;
    left: 10%;
    position: absolute;
    width: 50%;
}

.menu-item button {
    float: left;
    padding: 6px 10px;
    margin-left: 1px;
    top: 25%;
    left: 60%;
    border-radius: 15px;
    position: absolute;
    background: #ddd;
    font-size: 11px;
    border: none;
    cursor: pointer;
}

.cf {
    clear: both;
}

.is-visible {
    display: block;
}

.right-corner {
    float: right;
}
.right-corner > a:hover {
    background-color: #333;
    color: lightblue;
}

#span1 {
    color:darkorchid;
}

header {
    position: sticky;
    z-index: 1;
}

h2:first-of-type {
    text-align: center;
}

/* Event Bubbling  */
.box-1{
    position: relative;
    border: 1px solid pink;
    border-radius: 12px;
    background-color: pink;
    width: 75%;
    height: 50%;
    left: 12.5%;
    right: 12.5%;
    text-align: center;
}

.box-2 {
    position: relative;
    border: 1px solid blue;
    border-radius: 12px;
    background-color: blue;
    color: white;
    width: 50%;
    height: 75%;
    left: 25%;
    right: 25%;
}
.box-3 {
    position: relative;
    border: 1px solid lightblue;
    border-radius: 12px;
    background-color: lightblue;
    color: #333;
    width: 50%;
    height: 50%;
    left: 25%;
    right: 25%;
    text-align: center;
}


/* Event Delegation */

.tile {
    height: 100px;
    width: 20%;
    float: left;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.content2 > h4 {
    text-align: center;
    font-style: italic;
    color: darkblue;
    font-size: x-large;
}

/* Event and Selectors */
.article2 {
    margin-top: 150px;
}
.content3 h3 {
    text-align: center;
    margin-top: 250px;
}
.content3 > p {
    background-color: #a12e2e;
    color: white;
    border-radius: 12px;
    text-align: center;
}
.content3 > button {
    margin: auto;
    width: 150px;
    height: 30px;
    font-size: 17px;
    text-align: center;
}

#btn1 {
    margin-left:25%
}

#btn2 {
    margin-left: 25%;
}
#btn3, #btn4 {
    margin: auto;
    width: 150px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color: #333;
    cursor: pointer;
}

#btn3:hover {
    background-color: #9d9898;
}