body, * {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

h1 {
    text-align: center;
}
.menu {
    background: #666;
    list-style: none;
    margin: 0;
    position: relative;
    border-radius: 12px;
}

.menu-item {
    float: left;
}

.menu-item a {
    color: #eee;
    display: block;
    text-decoration: none;
    padding: 1em;
}

.menu-item a:hover {
    color: #333;
    background-color: #fff;
    border-radius: 12px;
    padding: 1em;
}
.menu-item-info a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 1em;
}

.menu-item-info a:hover {
    color: #333;
    background-color: #9d9898;
    border-radius: 12px;
    padding: 1em;
}

.menu-item-info {
    display: none;
    position: absolute;
    left: 0;
    border: 1px solid #ddd;
    border-top: none;
    width: 100%;
    background-color: #9d9898;
    border-radius: 12px;
    padding: 0.3em;
    color: #fff;
}

.cf {
    clear: both;
}

.is-visible {
    display: block;
}

.right-corner {
    float: right;
}
.right-corner > a:hover {
    background-color: #333;
    color: lightblue;
}